<!-- Main Content -->
<div class="container mt-5 text-center">
      <!-- Botones para cargar lista de ingresos y gastos -->
      <div class="d-flex justify-content-center mb-4">
        <button class="btn btn-primary me-2" (click)="login()">iniciar session</button>
        <button class="btn btn-danger" (click)="registrarse()">Registrarse</button>
    </div>
    <h1 class="display-4">Bienvenido a tu Control de Gastos</h1>
    <p class="lead mt-4">
        Nuestra plataforma te ayuda a gestionar tus finanzas personales de manera simple y eficiente.
        Podrás registrar todos tus ingresos y gastos, categorizarlos según tus necesidades,
        y llevar un balance general actualizado que te permitirá tomar decisiones informadas sobre tu dinero.
        Además, puedes analizar tus hábitos financieros, planificar presupuestos mensuales y establecer metas de
        ahorro.
        Regístrate o inicia sesión para empezar a tomar el control de tus finanzas hoy mismo.
    </p>
    <div class="mt-4">
        <img src="https://i.blogs.es/dfbf71/apps-control-gastos/1366_2000.webp" class="img-fluid rounded shadow"
            alt="Imagen alusiva al control de gastos">
    </div>
</div>