<div class="container">
  <!-- Balance general -->
  <div class="balance-general mb-4 text-center">
    <h2 class="text-primary">Balance General: {{ balance | currency }}</h2>
  </div>
  <h1 class="text-center">Listado de Ingresos</h1>

  <!-- Selector para cambiar rango -->
  <div class="mb-3 text-center">
    <label for="rango" class="form-label">Selecciona un rango: </label>
    <select id="rango" class="form-select w-auto d-inline-block" #selectRango
      (change)="cambiarRango(selectRango.value)">
      <option value="día">Hoy</option>
      <option value="semana" selected>Semana</option>
      <option value="mes">Mes</option>
    </select>
  </div>

  <!-- Mostrar balance -->
  <p class="text-end">Total de Ingresos: <strong>{{ totalIngresos | currency }}</strong></p>
  <button class="btn btn-warning" (click)="anadirIngreso()">Añadir</button>

  <!-- Tabla de ingresos -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Descripción</th>
        <th>Monto</th>
        <th>Categoría</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let dia of ingresoPorDia | keyvalue">
        <tr *ngFor="let ingreso of dia.value">
          <td>{{ dia.key }}</td>
          <td>{{ ingreso.descripcion }}</td>
          <td>{{ ingreso.monto | currency }}</td>
          <td>{{ ingreso.categoria.nombre }}</td>
          <td>
            <button class="btn btn-success btn-sm me-1" [routerLink]="['/editarIngreso', ingreso.id]">
              <i class="bi bi-pencil-square"></i>
            </button>
          </td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="eliminarIngreso(ingreso.id)">
              <i class="bi bi-trash"></i> <!-- Icono de basura -->
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>  