<div class="container">

    <!-- Balance general -->
    <div class="balance-general mb-4 text-center">
        <h2 class="text-primary">Balance General: {{ balance | currency }}</h2>
    </div>
    <h1 class="text-center">Listado de Gastos</h1>

    <!-- Selector para cambiar rango -->
    <div class="mb-3 text-center">
        <label for="rango" class="form-label">Selecciona un rango:</label>
        <select id="rango" class="form-select w-auto d-inline-block" #selectRango
            (change)="cambiarRango(selectRango.value)">
            <option value="día">Día</option>
            <option value="semana" selected>Semana</option>
            <option value="mes">Mes</option>
        </select>
    </div>

    <!-- Mostrar balance -->
    <p class="text-end">Total de Gastos: <strong>{{ totalGastos | currency }}</strong></p>
    <button class="btn btn-warning">Añadir</button>

    <!-- Tabla de gastos -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Descripción</th>
                <th>Monto</th>
                <th>Categoría</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let dia of gastosPorDia | keyvalue">
                <tr *ngFor="let gasto of dia.value">
                    <td>{{ dia.key }}</td>
                    <td>{{ gasto.descripcion }}</td>
                    <td>{{ gasto.monto | currency }}</td>
                    <td>{{ gasto.categoria.nombre }}</td>
                    <td>
                        <button class="btn btn-success btn-sm me-1" [routerLink]="['/editarGasto', gasto.id]">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm icon-trash"  (click)="eliminarGasto(gasto.id)">
                            <i class="bi bi-trash"></i> <!-- Icono de basura -->
                        </button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>