<div class="container">
    <h1 class="text-center">Editar Gasto</h1>
  
    <form [formGroup]="gastoForm" (ngSubmit)="guardarCambios()">
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción:</label>
        <input id="descripcion" type="text" class="form-control" formControlName="descripcion">
      </div>
  
      <div class="mb-3">
        <label for="monto" class="form-label">Monto:</label>
        <input id="monto" type="number" class="form-control" formControlName="monto">
      </div>
  
      <div class="mb-3">
        <label for="categoria" class="form-label">Categoría:</label>
        <select id="categoria" class="form-control" formControlName="categoria">
            <option *ngFor="let categoria of categorias" [value]="categoria.nombre">
              {{ categoria.nombre }}
            </option>
          </select>
      </div>
  
      <div class="mb-3">
        <label for="fecha" class="form-label">Fecha:</label>
        <input id="fecha" type="date" class="form-control" formControlName="fecha">
      </div>
  
      <div class="text-center">
        <button type="submit" class="btn btn-primary" [disabled]="gastoForm.invalid">Guardar Cambios</button>
        <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
  </div>
  